@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 216, 16%, 12%;

    --radius: 0.7rem;
  }

  .dark {
    --background: 218 15% 14%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 222 16% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 218 17% 18%;
    --primary-foreground: 240 6% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 222 16% 22%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 219 17% 19%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 82% 44%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 5% 17%;
    --ring: 240 5% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .top-shadow-yellow {
  -webkit-box-shadow: inset 0px 10px 10px -8px #ffffff53;
  -moz-box-shadow: inset 0px 10px 10px -8px #ffffff53;
  box-shadow: inset 0px 10px 10px -8px #ffbf0010;
}
}

.countdown-timer {
  position: absolute;
  width: 52px;
  height: 52px;
}

.countdown-timer__circle circle {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  stroke-linecap: round;
  stroke-width: 4px;
  fill: none;
}
.countdown-timer__circle .active {
  stroke: black;
}
.countdown-timer__circle .inactive {
  stroke: lightgray;
  stroke-dashoffset: 0px;
}

.countdown-timer__circle svg {
  width: 52px;
  height: 52px;
  transform: rotateZ(-90deg);
}

.countdown-timer__text {
  position: absolute;
  top: 13px;
  width: 52px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@keyframes countdown-animation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 151px;
  }
}

.loader {
  /* width: 18px;
  height: 18px; */
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay::before {
  content: "";
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.inner-shadow {
  -webkit-box-shadow: inset 1px 1px 10px #ffffff53;
  -moz-box-shadow: inset 1px 1px 10px #ffffff53;
  box-shadow: inset 1px 1px 10px #ffffff24;
}
.top-shadow {
  -webkit-box-shadow: inset 0px 10px 10px -8px #ffffff53;
  -moz-box-shadow: inset 0px 10px 10px -8px #ffffff53;
  box-shadow: inset 0px 10px 10px -8px #ffffff24;
}





@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* basic structure for the rays setup */
#raysDemoHolder {
  /* position: relative;  */
  width: 100%;
  height: 100%;
}
#raysLogo {
  width: 300px;
  height: 233px;
  text-indent: -3000px;
  /* background: url(logo.png) 0 0 no-repeat;  */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#rays {
  /* with animation properties */
  background: url(/rays.png) 0 0 no-repeat;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 490px;
  height: 490px;

  /* microsoft ie */
  animation-name: spin;
  animation-duration: 40000ms; /* 40 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#rays:hover {
  /* animation-duration: 10000ms; 10 seconds - speed it up on hover! */
  /* resets the position though!  sucks */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-rotate {
  animation: spin 40s linear infinite;
}


.shake {
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}